* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px;
    margin: 10px;
}

.networks {
    width: 230px;
    font-size: large;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.networks a {
    color: black;
    text-decoration: none;
}

.networks a:hover {
    color: red;
    text-decoration: underline;
}

.b {
    background-color: rgb(188, 215, 162);
    border-radius: 5px;
    padding: 3px;
}

.header {
    padding: 35px;
    font-size: large;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.box {
    position: relative;
    display: flex;
    max-width: 100%;
    padding: 30px;
    margin: auto;
    box-sizing: border-box;
    gap: 35px;
    justify-content: center;
    align-items: flex-start;
}

.img2 img {
    max-width: 246px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
}

.title h2 {
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.meta2 {
    display: flex;
    gap: 30px;
    color: #777777;
    font-size: 16px;

}

.p {
    width: 50px;
    height: 20px;
    background-color: #142850;
    color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p {
    max-width: 570px;
    display: flex;
    font-size: 17px;
    color: #555555;
    margin: 0;
    word-spacing: 5px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:560px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
        padding: 15px;
        margin: 10px;
    }

    .networks {
        position: static;
        width: 100%;
        font-size: medium;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .networks>i {
        font-size: 5rem;
    }

    .b {
        background-color: rgb(188, 215, 162);
        border-radius: 5px;
        padding: 3px;
    }

    .header {
        font-size: large;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        font-weight: bold;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        box-sizing: border-box;
        gap: 27px;
        justify-content: center;
        align-items: flex-start;
    }

    .img2 img {
        width: 100%;
        /* height: auto; */
        max-width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 1;
    }

    .title h2 {
        font-size: 24px;
        color: #333333;
        margin: 0;
    }

    .meta2 {
        display: flex;
        gap: 30px;
        color: #777777;
        font-size: 16px;

    }

    .p {
        width: 50px;
        height: 20px;
        background-color: #142850;
        color: #FFFFFF;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text p {
        display: flex;
        font-size: 15 px;
        color: #555555;
        margin: 0;
        word-spacing: 5px;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}